body {
  background: #737373;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  font-family: "Roboto",
}

body, html{
  overflow-X: hidden;
}

#expression {
  display: block;
  height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -490px;
  margin-top: -75px;
  width: 980px;
  font-size: 60px;
}

.toasty{
  position: absolute;
  left: 110%;
  bottom:0;
}

.animateIn{
  animation: 16s left forwards ease;
}

@keyframes left {
  0% {left: 110%;}
  50% {left: 50%;}
  100%{left: 110%;}
}
